@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/Montserrat-Light.ttf') format('truetype');
  }

  